.Form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 2px solid gray;
  padding: 3px 3px 3px 11px;
  border-radius: 40px;
  height: 40px;
}

.Form input {
  flex-grow: 2;
  border: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 10px;
  font-size: 17px;
  color: var(--light-grey);
}

.Form input:focus {
  outline: none;
}

.Form button {
  border: none;
  outline: none;
  width: 40px;
  padding: 0;
  background: transparent;
  color: white;
  cursor: pointer;
}

.Form span {
  font-size: 40px;
  color: var(--green);
  transition: color 0.3s;
}

.Form span:hover {
  color: var(--light-green);
}
