.App {
  text-align: center;
  width: 560px;
  margin: auto;
  padding: 5px;
  font-size: 17px;
}

.App h1 {
  font-size: 48px;
}

@media (max-width: 560px) {
  .App {
    width: calc(100% - 20px);
    font-size: 15px;
  }
}
